export(annotate)
export(burden.test)
export(collapsing.test)
export(lm)
export(pamk)
export(rvcluster)
export(rvclustobject)
S3method(annotate,rvclustobject)
S3method(burden.test,rvclustobject)
S3method(collapsing.test,rvclustobject)
S3method(lm,rvclustobject)
S3method(pamk,rvclustobject)
S3method(rvcluster,rvclustobject)
