export(annotate)
export(burden.test)
export(collapsing.test)
export(lm)
export(logreg)
export(pamk)
export(rvcluster)
export(rvclustobject)
export(single.marker.lm)
export(sliding.window)
export(test.aggregation)
export(test.annotate)
export(test.association)
export(test.cluster)
export(visualize)
